<section class="mb-4">
  <h2 class="h1-responsive font-weight-bold text-center mb-4">Termos e Condições</h2>
  <div class="container text-justify w-responsive mx-auto">
    <p>Ao aceder a este site, o utilizador compromete-se a aceitar e a respeitar os presentes termos e condições de utilização.

    <p>A informação contida neste site – designadamente, o nome de domínio, as marcas, os logótipos, indicações, desenhos, ilustrações, fotografias, textos, gráficos e outros ficheiros – é propriedade do Local Crespos e encontra-se protegida pela legislação em vigor. O seu download, cópia, modificação, transmissão, distribuição, reprodução ou reenvio, parcial ou integral, para fins comerciais, sem uma autorização prévia e escrita do Local Crespos, é expressamente proibido e punível por lei.</p>

    <p>A utilização e/ou divulgação externa, expressamente autorizada pelo Local Crespos, da informação contida neste site, implica a menção expressa da origem e autoria dessa informação.</p>

    <p>O utilizador é o único e exclusivo responsável por todas e quaisquer informações que forneça neste site. O Local Crespos procederá ao tratamento, para fins de fornecimento de serviços e de gestão administrativa e comercial, da informação disponibilizada.</p>

    <p>O utilizador deste site dispõe do direito de acesso, modificação e supressão das informações que fornece ao Local Crespos. Para o efeito, deverá enviar uma comunicação dirigida ao Local Crespos, para feedback@localcrespos.pt.</p>

    <p>O utilizador deste site não poderá fazer uso de qualquer software ou aplicação que possa interferir com o normal funcionamento do mesmo.</p>

    <p>Este site pode conter referências publicitárias e/ou hiperligações a outros sites, sobre os quais o Local Crespos não exerce qualquer controlo, não sendo responsável pelo seu conteúdo. A inclusão de referências publicitárias e/ou de hiperligações a outros sites consubstancia uma referência meramente informativa, sendo o Local Crespos inteiramente alheia aos respectivos conteúdos, serviços e/ou produtos oferecidos.</p>

    <p>O acesso a determinados conteúdos deste site poderá ser reservado a utilizadores registados.</p>

    <p>O Local Crespos desenvolve um trabalho contínuo de actualização e verificação das informações e/ou ferramentas disponibilizadas neste site. No entanto, o utilizador não poderá responsabilizar o Local Crespos caso os conteúdos apresentados neste site apresentem, pontualmente, algum lapso ou anomalia técnica. O Local Crespos poderá efectuar, sem pré-aviso, modificações, actualizações ou correcções à informação disponibilizada.</p>

    <p class="text-center"><b>Local Crespos - Setembro de 2019</b></p>

  </div>
</section>
