<section class="mb-4">
  <h2 class="h1-responsive font-weight-bold text-center my-4">Política de Privacidade</h2>
  <div class="container text-justify w-responsive mx-auto">

<p></p>A presente Política de Privacidade estabelece os termos de acordo com os quais o Local Crespos recolhe e trata dados pessoais dos seus clientes, quer através dos websites e redes sociais, quer diretamente nas unidades hoteleiras, espaços de restauração e SPA’s da Local Crespos.

<p></p>Recomendamos a leitura atenta de presente Política de Privacidade para que a sua decisão de facultar os seus dados pessoais e de os manter connosco, seja livre, esclarecida e voluntária.

<p></p>A presente Política de Privacidade aplica-se a todos os hotéis geridos e explorados sob a marca Local Crespos.

<p></p>Declaração de Privacidade
<p></p>O Local Crespos está empenhada no respeito e proteção dos seus dados pessoais, desenvolvendo por isso um trabalho contínuo de garantia da segurança e da confidencialidade dos dados fornecidos.
<p></p>A recolha e o tratamento da informação que nos disponibiliza é feita de acordo com as políticas e procedimentos de segurança e confidencialidade Local Crespos, em estrito respeito pela legislação aplicável, nomeadamente a Lei da Proteção de Dados Pessoais, Lei n.º 67/98, de 26-10 (“LPD”) e o Regulamento Geral de Proteção de Dados (“RGPD”).
<p></p>O Local Crespos é o responsável pelo tratamento dos seus dados pessoais e fá-lo no seu exclusivo e próprio interesse.
<p></p>Na qualidade de prestador de serviços, o Local Crespos necessita de recolher e manter informação a seu respeito necessária para a execução do respetivo contrato, cumprimento de obrigações legais, prosseguimento de legítimos interesses, bem como para a proteção e defesa do Local Crespos em caso de litígio.
<p></p>Caso decida não fornecer as informações que lhe são solicitadas estaremos impossibilitados de cumprir as nossas obrigações, podendo implicar a impossibilidade de execução do contrato.
<p></p>A recolha de quaisquer dados pessoais adicionais e o tratamento de dados pessoais para outras finalidades que não as previstas no presente documento, ou a recolha e tratamento de dados pessoais considerados sensíveis (tais como dados relativos a origem racial ou étnica, opiniões políticas, convicções religiosas ou filosóficas, etc.) será precedida e condicionada ao seu consentimento expresso, exceto se tal tratamento for permitido por outro fundamento legal.
<p></p>
<p></p>Que informação que iremos recolher?
<p></p>Apenas iremos recolher e tratar os dados necessários ao cumprimento das respetivas finalidades. O Local Crespos não recolherá quaisquer dados que não necessite.
<p></p>Para o cumprimento das finalidades que adiante especificaremos, serão recolhidas as seguintes informações: Identificação pessoal e de contacto (nome, morada profissional/pessoal, e-mail, telefone, data de nascimento, nacionalidade), informação sobre familiares (nome e datas de nascimento), informação sobre serviços prestados, preferências do cliente, comentários, dados do cartão de crédito, informações para efeitos de tratamentos nos SPA’s, imagens de CCTV em zonas públicas, informação técnica (endereço IP (Internet Protocol), dados de “log-in”, tipo e versão do “browser”, localização e fuso horário, língua, sistema operativo e plataforma), informação partilhada publicamente nas redes sociais, e/ou informação que o titular dos dados decida partilhar ligando-se às nossas contas.
<p></p>Os detalhes do seu cartão de crédito, utilizado como meio de pagamento através de reserva efetuada no nosso website, não são recolhidos ou armazenados pelo Local Crespos. A informação é recolhida e tratada por uma entidade terceira, vinculada aos deveres de garantia da segurança e privacidade.
<p></p>O Local Crespos não terá acesso à referida informação. Mantemos um ficheiro de registo das transações efetuadas no nosso website que exclui quaisquer detalhes do cartão de crédito utilizado.
<p></p>
<p></p>O que faremos com os seus dados pessoais?
<p></p>Os seus dados serão recolhidos e armazenados pelo Local Crespos para permitir que lhe possamos prestar os serviços contratados, o cumprimento das obrigações contratualmente assumidas, o cumprimento de obrigações legais e o prosseguimento dos nossos legítimos interesses.
<p></p>
<p></p>Assim, os seus dados pessoais serão tratados pelo Local Crespos de acordo com as seguintes finalidades:
<p></p>
<p></p>a)     Gestão de reservas;
<p></p>
<p></p>b)     Check-in, faturação e pagamento;
<p></p>
<p></p>c)     Cumprimento de normas legais;
<p></p>
<p></p>d)    Prossecução de interesses legítimos do Local Crespos, desde que não prevaleçam os seus direitos e liberdades fundamentais, (nomeadamente segurança de pessoas e bens e pesquisa e desenvolvimento de produtos e o tratamento de dados pessoais efetuado para efeitos de marketing direto relativamente a produtos e/ou serviços similares aos já contratados);
<p></p>
<p></p>e)     Prestação de serviços e adequação dos tratamentos nos SPA’s;
<p></p>
<p></p>f)      Resposta a pedidos de informação e solicitações (pedidos de orçamento, confirmações de reserva, etc.);
<p></p>
<p></p>g)     Gestão de preferências pessoais (fumador/não fumador; piso preferido; mobilidade condicionada; jornais e revistas, etc.).
<p></p>
<p></p>As finalidades acima identificadas poderão legitimar o tratamento dos seus dados pessoais mesmo que a relação contratual termine, durante um período de tempo considerado razoável e justificável, findo o qual iremos proceder ao apagamento ou pseudonimização dos referidos dados.
<p></p>Para além das finalidades referidas supra, os dados pessoais recolhidos poderão ser usados, mediante o seu consentimento, com as seguintes finalidades:
<p></p>
<p></p>a)     Subscrição de newsletters;
<p></p>
<p></p>b)     Criação e personalização de campanhas publicitárias e promoções, informação de ofertas especiais, comunicação de novos serviços/novos empreendimentos;
<p></p>
<p></p>c)     Gestão de programas de fidelização;
<p></p>
<p></p>d)     Gestão de comentários, reclamações/queixas;
<p></p>
<p></p>e)     Notificação de alterações efetuados nos nossos websites.
<p></p>
<p></p>Divulgação de informações para terceiros
<p></p>
<p></p>Poderemos transferir os seus dados pessoais para outras empresas pertencentes ao grupo Local Crespos quando essa transferência esteja relacionada com a prestação do serviço ou com a prossecução dos fins do Local Crespos.
<p></p>Os seus dados pessoais poderão ser fornecidos e acedidos pelas empresas que nos prestam serviços informáticos (gravam/alojam os ficheiros contendo os seus dados pessoais), bem como as empresas que nos fornecem os softwares (através dos quais os seus dados pessoais são armazenados e tratados), nomeadamente em caso de assistência técnica. Todas as referidas empresas se encontram vinculada por deveres de confidencialidade.
<p></p>Para além do caso referido supra, apenas divulgaremos os seus dados pessoais a terceiro se e na medida que sejamos legalmente obrigados a faze-lo.
<p></p>
<p></p>Os seus Direitos
<p></p>
<p></p>Nos termos do RGPD são-lhe concedidos determinados direitos relacionados com os seus dados pessoais.
<p></p>
<p></p>Terá o direito de nos solicitar o acesso, a retificação e o apagamento  dos seus dados pessoais, o direito de limitar o tratamento dos mesmos e, em determinadas circunstâncias, o direito à portabilidade dos seus dados pessoais.
<p></p>Caso estejamos a tratar dados pessoais com base no seu consentimento, o mesmo pode ser retirado a qualquer momento, caso em que o tratamento terá de cessar.  Assim, caso pretenda cancelar o recebimento de comunicações para efeitos de publicidade e marketing, por favor envie um e-mail para privacy@localcrespos.pt.
<p></p>Caso estejamos a tratar os seus dados pessoais com a finalidade de marketing direto, relativamente a produtos e/ou serviços similares aos que já contratou connosco, em qualquer contacto que façamos, ser-lhe-á dada a opção de, a qualquer momento, cancelar o recebimento das nossas comunicações (opt-out).
<p></p>Para o exercício dos direitos referidos supra deverá contactar-nos através do e-mail privacy@localcrespos.pt.
<p></p>O exercício dos seus direitos não implica o pagamento de qualquer taxa. Contudo, de pedidos infundados, repetitivos ou excessivos poderão estar sujeitos à cobrança de uma taxa.
<p></p>O seu pedido de acesso será tratado com a maior brevidade. Caso não nos seja possível responder no prazo de 30 (trinta) dias após o recebimento do pedido, informaremos do prazo que necessitaremos para responder ao mesmo.
<p></p>Caso não seja possível aceder ao seu pedido informaremos dos respetivos fundamentos.
<p></p>Caso entenda que o Local Crespos não lhe garantiu o exercício dos seus  direitos relativos à proteção de dados pessoais poderá apresentar reclamação junto da autoridade de supervisão e controlo -  Comissão Nacional de Proteção de Dados – CNPD | Rua de São Bento, n.º 148, 3º, 1200-821 Lisboa | Tel: 351 213928400 | Fax: +351 213976832 | e-mail: geral@cnpd.pt
<p></p>
<p></p>Segurança
<p></p>Assumimos o compromisso de garantir a segurança dos seus dados pessoais. Para proteger os seus dados pessoais de acessos não autorizados, utilização, modificação, divulgação ou cópia ilícitas implementamos um conjunto de medidas técnicas e organizativas adequadas, tais como proteção antivírus e anti spyware permanentemente atualizada, encriptação SSL para dados sensíveis (cartão de crédito, formulário de reserva), firewalls, backups frequentes, acesso restrito aos dados pessoais apenas por quem deles necessita.
<p></p>Sendo certo que nenhuma medida de segurança é 100% eficaz e segura, empenhamo-nos em proteger a integridade e confidencialidade dos seus dados pessoais, pelo que nos encontramos permanentemente a rever e a melhorar as nossas medidas de segurança.
<p></p>Caso o seu acesso aos nossos websites seja feito através de um nome de utilizador e uma palavra passe que foi gerada ou escolhida por si, você é responsável por manter a confidencialidade da mesma.
<p></p>
<p></p>Tempo de Conservação dos Dados
<p></p>Os seus dados pessoais serão conservados pelo tempo estritamente necessário ao cumprimento das finalidades para as quais são recolhidos e tratados ou pelo tempo necessário ao cumprimento das obrigações legais aplicáveis.
<p></p>Cessaremos o tratamento dos seus dados pessoais ou removeremos qualquer associação dos dados à sua pessoa (“pseudonimização”) logo que o tratamento deixe de servir as respetivas finalidades, o cumprimento de obrigações legais ou os interesses legítimos do Local Crespos.
<p></p>Dados pessoais de menores
<p></p>Para além dos dados relativos ao nome, idade e data de nascimento dos seus filhos, os quais lhe solicitamos para efeitos de gestão de reservas e faturação, poderão ser-lhe solicitados ainda dados relativos a alergias e intolerâncias alimentares e outros cuidados de saúde, para efeitos de permanência nos nossos “Kids Club”.
<p></p>
<p></p>O Local Crespos não solicitará quaisquer outros dados relativos a menores para além dos referidos. Contudo, não é possível determinar a idade dos utilizadores dos nossos websites, nem acautelar que os dados fornecidos nos nossos websites têm o consentimento dos responsáveis pelo menor.
<p></p>
<p></p>Política de Cookies
<p></p>
<p></p>O que são cookies? Cookies são pequenos ficheiros de texto que são introduzidos no dispositivo do utilizador (computador, telemóvel ou tablet) quando visita o website Local Crespos através de um browser. Os cookies permitem que o website reconheça o dispositivo do utilizador.
<p></p>Por que razão utilizamos cookies? O Local Crespos utiliza cookies e outros rastreadores com a finalidade de compreender a forma como chegou até nós, a frequência das suas visitas e as suas preferências de navegação, permitindo-nos descobrir a melhor forma de apresentar informações que sejam verdadeiramente relevantes para si, enquanto utilizador.
<p></p>Os cookies e outros rastreadores utilizados pelo Local Crespos não recolhem informações pessoais de qualquer tipo ou quaisquer outras informações que permitam a sua identificação.
<p></p>Que tipos de cookies utilizamos? O Local Crespos utiliza cookies de sessão, os quais são eliminados assim que o utilizador saia do browser ou do website e cookies persistentes, os quais permanecem no seu dispositivo até expirarem ou até os eliminar utilizando as funcionalidades do seu browser.
<p></p>Consentimento. Ao navegar no website Local Crespos está a aceitar a instalação de cookies que requerem o consentimento no seu dispositivo.
<p></p>Eliminar e/ou bloquear cookies: Os cookies e outros rastreadores podem ser configurados, eliminados ou bloqueados através das definições do browser do utilizador.
<p></p>Quais as ferramentas utilizadas pelo website Local Crespos de leitura estatística e de comportamento do utilizador?
<p></p>
<p></p>Google Analytics
<p></p>
<p></p>No website Local Crespos é utilizado o Google Analytics, um serviço de análise da rede disponibilizado pela Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA (de ora em diante “Google”). Assim, estão a ser armazenados os cookies que disponibilizam informação sobre a utilização do Website. Estes dados, incluindo o endereço de IP do utilizador, são transmitidos aos servidores da Google.
<p></p>De acordo com declarações efectuadas pela Google, os dados que são recolhidos pelo Google Analytics não são relacionados com quaisquer outros dados detidos pelo Google.
<p></p>Os utilizadores podem eliminar os cookies nas suas definições de navegador e prevenir o seu armazenamento no futuro. Neste caso, contudo, poderão não conseguir utilizar a funcionalidade total do website Local Crespos.
<p></p>Os utilizadores também podem desativar a ferramenta mediante o descarregamento e instalação de um complemento de navegador disponível a partir do Google: https://tools.google.com/dlpage/gaoptout?hl=en
<p></p>
<p></p>Facebook
<p></p>
<p></p>No website Local Crespos são utilizados componentes do Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, EUA (de ora em diante “Facebook”) (ex.: Facebook Connect e plug-ins sociais do Facebook). Quando acede a uma página com tais componentes, é estabelecida uma ligação aos servidores do Facebook. Isto permite ao Facebook identificar o website que o utilizador está a visitar e possivelmente armazenar outros dados, tais como o endereço IP. Caso o utilizador também esteja conectado ao Facebook, o Facebook também poderá associar os dados à conta do Facebook do utilizador. Caso o utilizador deseje prevenir isto, deverá desconectar-se do Facebook antes de visitar a página.
<p></p>Mais informação sobre como o Facebook trata os dados poderá ser encontrada no website do Facebook: https://www.facebook.com/about/privacy/.
<p></p>
<p></p>Twitter
<p></p>
<p></p>O Local Crespos utiliza botões do Twitter Inc., 795 Folsom St., Suite 600, San Francisco, CA 94107, EUA (de ora em diante “Twitter”) nos seus websites. Quando acede a uma página com tal botão, é estabelecida uma ligação aos servidores do Twitter. Isto permite ao Twitter identificar o website que o utilizador está a visitar e possivelmente armazenar outros dados, tais como o endereço de IP. De acordo com o Twitter, tais dados são armazenados desta forma apenas para a finalidade de exibir o botão. Mais informação sobre como o Twitter processa dados que poderão ser encontrados no Website do Twitter: https://twitter.com/privacy
<p></p>
<p></p>Alterações
<p></p>
<p></p>A presente Política de Privacidade poderá ser alterada ou aditada a qualquer momento, sem pré-aviso. Quaisquer alterações ou aditamentos serão devidamente publicados no nosso website e eventualmente comunicados através do envio de e-mail, constando sempre a referência á última atualização. Assim é aconselhável que consulte periodicamente a Política de Privacidade em vigor.
<p></p>
<p></p>Contactos
<p></p>
<p></p>A sociedade responsável pelo tratamento de dados pessoais é o Local Crespos.
<p></p>
<p></p>Para quaisquer dúvidas relacionadas com a presente Politica de Privacidade ou quanto à forma como os seus dados são tratados por favor contacte-nos através do e-mail privacy@localcrespos.pt.
<p></p>
<p></p>Última Atualização: 25 de Setembro de 2019

  </div>
</section>
