<!-- Footer -->
<footer class="page-footer">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md mx-0 text-center">
        <!-- Content -->
        <h5 class="text-uppercase mt-1 mb-1 text-center">Meios de pagamento</h5>
        <i class="fab fa-alipay"></i>
        <i class="fab fa-apple-pay"></i>
        <i class="fab fa-bitcoin"></i>
        <i class="fab fa-cc-amex"></i>
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-paypal"></i>
      </div>

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">
        <!-- Links -->
        <h5 class="bto text-uppercase mt-2 mb-1 text-center">
          <a routerLink="perguntas" routerLinkActive="active current">Perguntas Frequentes</a>
        </h5>
      </div>

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">
        <!-- Links -->
        <h5 class="bto text-uppercase mt-2 mb-1 text-center">
          <a routerLink="termos" routerLinkActive="active current">Termos e Condições</a>
        </h5>
      </div>

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">
        <!-- Links -->
        <h5 class="bto text-uppercase mt-2 mb-1 text-center">
        <a routerLink="politica" routerLinkActive="active current">Política de Privacidade</a>
        </h5>
      </div>

      <div class="col-md mx-auto">
        <!-- Social buttons -->
          <h5 class="text-uppercase mt-1 mb-1 text-center">Redes Socias</h5>
          <ul class="list-unstyled list-inline text-center mb-0">
            <a href="" target="_blank" class="icon-social-facebook"></a>
            <a href="" target="_blank" class="icon-social-twitter"></a>
            <a href="" target="_blank" class="icon-social-instagram"></a>
          </ul>
        </div>

    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-1">© 2019 Copyright:
    <a href="https://www.localcrespos.pt/">www.localcrespos.pt</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
