<section class="mb-4">
  <h2 class="h1-responsive font-weight-bold text-center mb-4">Reservar agora!</h2>
  <p></p>
  <div class="container text-center w-responsive mx-auto">
      <div class="booking">
        <form action="#">
          <div class="row">
            <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
              <label for="checkin">Check In</label>
              <div class="field-icon-wrap">
                <div class="icon"><span class="icon-calendar"></span></div>
                <input
                  type="date"
                  name="checkin_date"
                  max="3000-12-31"
                  min="1000-01-01"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
              <label for="checkin">Check Out</label>
              <div class="field-icon-wrap">
                <div class="icon"><span class="icon-calendar"></span></div>
                <input
                  type="date"
                  name="checkout_date"
                  min="1000-12-31"
                  max="3000-01-01"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-6 mb-3 mb-md-0 col-lg-3">
              <div class="row">
                  <div class="col-md-12 mb-6 mb-md-0">
                      <label for="roomtype">Tipo de Quarto</label>
                      <div class="field-icon-wrap">
                        <div class="icon"><span class="icon-arrow-down"></span></div>
                        <select class="form-control" [(ngModel)]="tipoQuartoSelecionadoObj" (ngModelChange)="pesquisarTipoQuarto($event)"
                        name="sel3">
                        <option [ngValue]="i" *ngFor="let i of tiposQuartos">{{i.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>

                <!-- <div class="col-md-6 mb-3 mb-md-0">
                  <label for="checkin">Adultos</label>
                  <div class="field-icon-wrap">
                    <div class="icon"><span class="icon-arrow-down"></span></div>
                    <select name="" id="" class="form-control">
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                      <option value="">4+</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 mb-3 mb-md-0">
                  <label for="checkin">Crianças</label>
                  <div class="field-icon-wrap">
                    <div class="icon"><span class="icon-arrow-down"></span></div>
                    <select name="" id="" class="form-control">
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                      <option value="">4+</option>
                    </select>
                  </div>
                </div>
              </div> -->

            </div>
            <div class="col-md-6 col-lg-3 align-self-end">
              <button class="btn btn-block">Verificar disponibilidade</button>
            </div>
          </div>
        </form>
      </div>
    </div>
<hr>
<!-- listagem dos quartos
<div>
<app-lista-quartos></app-lista-quartos>
</div>
-->

<!--
<div class="form-group">
  <button (click)="lerCliente()">Ver nome cliente</button>
</div>

<div *ngFor="let item of cliente" class="form-group">
  <h3>{{item.nome}}</h3>
</div>



 <div *ngFor="let item of cliente" class="form-group">
    <h3>{{item.nome}}</h3>
  </div>

  <div *ngFor="let item of tipoQuartoTodos" class="form-group">
    <h3><img  src="data:image/gif;base64,{{item.imagem}}" class='img' style="max-width: 300px"> {{item.codigo_quarto}} {{item.descricao_tipoQuarto}} {{item.area}}</h3>

  </div>

 -->

<div *ngFor="let item of tipoQuartoTodos" class="form-group">
  <div class="row">
    <img  src="data:image/gif;base64,{{item.imagem}}" class='img' style="max-width: 400px">
    <div class="col">
      <div class="col-md-6  col-lg-9">
      <h2 class="tipo-quarto"> {{item.tiposQuartos}}</h2>
      <h5 class="list-group-item-heading">{{item.descricao_stipoQuarto}}</h5>
      <p class="list-group-item-text"><b>Nº Quarto:</b> {{item.num_Quarto}} </p>
     <p> <b>Área:</b> {{item.area}} m2</p>
         <h5>{{item.descr}}</h5>
       <h2>Preço: €{{item.preco}}</h2>
        <button (click)="pesquisarTipoQuarto()">Selecionar</button>
      </div>
    </div>
  </div>
</div>


<!--

<div class="container">
  <h2>Listagem dos quartos diponíveis</h2>
  <div class="list-group">
      <ul>
          <div class="row">
            <img src="..\assets\quarto3.jpg" class='img' style="max-width: 400px">
            <div class="col">
                <h2 class="tipo-quarto"> {{item.tiposQuartos}} </h2>
                <h4 class="list-group-item-heading">First List Group Item Heading</h4>
                <div>
                   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <p>Magnam doloremque illo voluptatibus tenetur sint adipisci quae aut sed corporis,</p>
                <p>necessitatibus molestiae reprehenderit recusandae!</p>
                <p> Officiis quas dicta tempore illo accusamus.</p>

                  </h2>
                  <h4 class="list-group-item-heading">{{item.descricao_stipoQuarto}}</h4>
                  <p class="list-group-item-text"> Nº Quarto: {{item.codigo_quarto}} </p>
                 <p> Área: {{item.area}} m2</p>
                    <button (click)="lerCliente()">Selecionare</button>
                  </div>
            </div>
          </div>

 -->
