<section class="mb-4">
  <h2 class="h1-responsive font-weight-bold text-center my-4">Missão</h2>

  <div class="container text-center w-responsive mx-auto">

<p>Oferecer aos nossos visitantes alojamento de qualidade, de forma a integrá-los na região, proporcionando-lhes uma estadia agradável e enriquecedora.</p>
<p>Promover a região de Crespos como um destino apelativo para quem procura um lugar onde a tranquilidade da natureza e o bem-estar estejam em perfeita harmonia, respeitando sempre o meio ambiente.</p>
<p>Impulsionar o turismo em Crespos, contribuindo para o seu desenvolvimento e para uma economia mais sustentável valorizando o seu património;</p>
<p>Estabelecermo-nos como uma referência no turismo rural nacional.</p>

</div>



