<section class="mb-4">
<h2 class="h1-responsive font-weight-bold text-center mb-4">Serviços</h2>
  <div class="container text-justify w-responsive mx-auto">
<p>Os clientes que ficam alojados no Local Crespos podem usufruir de wi-fi gratuito, não só nos quartos como também em toda a área do alojamento.</p>
<p>Podem também desfrutar da piscina interior e exterior, que é rodeada por um espaço envolvente que permite relaxar nostempos de lazer.</p>
<p>O Local Crespos dispõe do serviço de massagens por marcação para clientes.</p>
<p>Para as crianças, o nosso alojamento dispõe de um parque infantil, que se situa no jardim, que pode ser utlizado por todos os clientes.</p>
<p>O serviço de receção do Local Crespos estádisponível para os hóspedes 24 horas, podendo estes optar ou não pelo serviço de pequeno-almoço.</p>
</div>
</section>


<!-- classe utilidades com os icons dos serviços -->
 <div class="row utilidades">

   <div class="col-6 col-md-4 text-center">
       <img src="..\assets\garden.png" alt="Local Crespos">
       <p>Vista para o jardim</p>

   </div>

   <div class="col-6 col-md-4 text-center">
      <img src="..\assets\pool.png" alt="Local Crespos">
      <p>Piscina</p>
  </div>

  <div class="col-6 col-md-4 text-center">
      <img src="..\assets\air-conditioner.png" alt="Local Crespos">
      <p>Ar Condicionado</p>

  </div>
  <div class="col-6 col-md-4 text-center">
      <img src="..\assets\tv.png" alt="Local Crespos">
      <p>Tv Cabo</p>

  </div>
  <div class="col-6 col-md-4 text-center">
      <img src="..\assets\karaoke.png" alt="Local Crespos">
      <p>Sistema de Som e Entretenimento</p>

  </div>
  <div class="col-6 col-md-4 text-center">
      <img src="..\assets\wifi.png" alt="Local Crespos">
      <p>Wifi</p>

  </div>
  <div class="col-6 col-md-4 text-center">
      <img src="..\assets\cocktail.png" alt="Local Crespos">
      <p>Mini-bar</p>

  </div>
  <div class="col-6 col-md-4 text-center">
      <img src="..\assets\security-box.png" alt="Local Crespos">
      <p>Cofre de Segurança</p>

  </div>
  <div class="col-6 col-md-4 text-center">
      <img src="..\assets\phone.png" alt="Local Crespos">
      <p>Telefone</p>

  </div>
  <div class="col-6 col-md-4 text-center">
      <img src="..\assets\hair-dryer.png" alt="Local Crespos">
      <p>Secador de Cabelo</p>

  </div>
  <div class="col-6 col-md-4 text-center">
      <img src="..\assets\coffee-machine.png" alt="Local Crespos">
      <p>Maquina de café Espresso</p>

  </div>

 <div class="col-6 col-md-4 text-center">
      <img src="..\assets\washing-machine.png" alt="Local Crespos">
      <p>Serviço de lavandaria</p>

  </div>


 <div class="col-6 col-md-4 text-center">
      <img src="..\assets\bathrobe.png" alt="Local Crespos">
      <p>Robes de banho</p>

  </div>
  <div class="col-6 col-md-4 text-center">
      <img src="..\assets\slippers.png" alt="Local Crespos">
      <p>Chinelos de Quarto</p>

  </div>
  <div class="col-6 col-md-4 text-center">
      <img src="..\assets\umbrella.png" alt="Local Crespos">
      <p>Guarda-chuva</p>

  </div>

 </div>
 <br>
