<section class="mb-4">
<h2 class="h1-responsive font-weight-bold text-center my-4">Serviços</h2>
  <div class="text-center w-responsive mx-auto">
<p>Os clientes que ficam alojados no Local Crespos podem usufruir de wi-fi gratuito, não só nos quartos como também em toda a área do alojamento.</p>
<p>Podem também desfrutar da piscina interior e exterior, que é rodeada por um espaço envolvente que permite relaxar nostempos de lazer.</p>
<p>O Local Crespos dispõe do serviço de massagens por marcação para clientes.</p>
<p>Para as crianças, o nosso alojamento dispõe de um parque infantil, que se situa no jardim, que pode ser utlizado por todos os clientes.</p>
<p>O serviço de receção do Local Crespos estádisponível para os hóspedes 24 horas, podendo estes optar ou não pelo serviço de pequeno-almoço.</p>
</div>
</section>



