<!--
  <h1>Quem Somos</h1>
  <nav>
  <a routerLink="missao" routerLinkActive='active'>Missão</a>
  <a routerLink="valores" routerLinkActive='active'>Valores</a>
  <a routerLink="equipa" routerLinkActive='active'>Equipa</a>
</nav>
-->
<div class="container-fluid">
<h3>Quem Somos</h3>
<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="margem" routerLink="missao" routerLinkActive='active'>Missão</a>
      </li>
      <li class="nav-item">
          <a class="margem" routerLink="valores" routerLinkActive='active'>Valores</a>
      </li>
      <li class="nav-item">
          <a class="margem" routerLink="equipa" routerLinkActive='active'>Equipa</a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
