
<section class="mb-4">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Quem Somos</h2>

  <div class="container text-center w-responsive mx-auto">
<nav class="navbar navbar-expand-sm bg-light justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="margem" routerLink="missao" routerLinkActive='active'>Missão</a>
      </li>
      <li class="nav-item">
          <a class="margem" routerLink="valores" routerLinkActive='active'>Valores</a>
      </li>
      <li class="nav-item">
          <a class="margem" routerLink="equipa" routerLinkActive='active'>Equipa</a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>



