<section class="mb-4">
  <h2 class="h1-responsive font-weight-bold text-center mb-4">O que fazer</h2>
  <div class="container text-justify w-responsive mx-auto">
    <p>Descanse sentado no chafariz da Praça da República e fique olhando o movimento do Centro Histórico.</p>

    <p> Veja o Chafariz do Castelo no largo da Reitoria da Universidade do Minho. É o único chafariz que tem a cidade de Braga simbolizada por uma imagem feminina.</p>

    <p> Visite o interior da Reitoria da Universidade do Minho para ver os diversos painéis de azulejos que decoram as suas paredes. Se estiver aberta, dê uma espiada na sala Medieval de lá também!</p>

    <p>Encante-se com a fachada de um palacete neoclássico. Onde? Atrás do Campo das Hortas!</p>

    <p>Se encontrá-la aberta… Suba na Torre de Menagem!</p>

    <p>Sinta-se numa Braga Cosmopolita ao visitar o espaço do Gneration e as exposições contemporâneas de lá.</p>
    <p>Assistia a uma sessão de cinema a céu aberto no pátio do Gneration.</p>
    <p>Passe pelo Arco da Porta Nova e tire uma foto dos dois lados.</p>
    <p>Caminhe pela rua Violinha (do ladinho do Arco da Porta Nova) que é a mais estreita da cidade. E também pela Gualdim Pais,
       nesta vale apreciar a arquitetura peculiar das casinhas com estendais para o lado de fora.</p>
    <p>Passeie pelo interior da Arcada da Lapa.</p>
    <p>Sente numa das esplanadas dos bares em frente à Catedral da Sé.</p>
    <p>Dê uma volta pelo corredor da Universidade do Minho que está localizada na Avenida Central.
       Vai ver painéis de azulejos e um lindo jardim.</p>
    <p>Se já fez o Caminho de Santiago ou está com aquela vontade de fazer,
       pode seguir as flechas amarelas sinalizadas por Braga até a Fonte de Santiago.</p>

  </div>
</section>


