<section class="mb-4">
    <h2 class="h1-responsive font-weight-bold text-center my-4">O que Visitar</h2>
    <div class="container text-justify w-responsive mx-auto">

  <p>Crespos, é uma freguesia situada a nordeste do Concelho de Braga. Faz parte da Comarca, da Diocese e do Distrito de Braga</p>
      <p>Braga é conhecida como a "Roma portuguesa", devido às muitas e bonitas igrejas que aí se encontram.</p>
  <p>É em Braga que se encontra a catedral mais antiga do país, a Sé.
   A sua construção data do ano de 1070 e a presença de diversos estilos é o que lhe
     confere uma arquitetura tão rica, ainda que a predominância seja românica.  </p>
  <p>Santuário do Bom Jesus do Monte, também conhecido como o Santuário do Bom Jesus de Braga, é o ex-libris da cidade, onde a arte e a natureza se aliam fazendo dele um espaço sagrado e de repouso.
     A actual igreja é um exemplar do neoclássico português. Foi começada a construir em 1784 para substituir o antigo templo que foi demolido uma vez que ameaçava ruína.
     As obras foram concluídas em 1811. Os escadórios ligam a parte alta da cidade ao santuário. Estão divididos em 3 lanços: o Pórtico barroco de 1723 de onde começam
     os lanços de escadaria que conduzem às capelas que apresentam os 14 passos da Via Sacra e às fontes contíguas; o Escadório dos Cinco Sentidos e o Escadório das Três Virtudes Teologais, construído em 1837</p>

  <p>O Jardim de Santa Bárbara é um dos jardins mais bonitos de Braga.
    Equilibra as regras da geometria com a aleatoriedade das cores provenientes das flores, da vegetação e dos pássaros.
    O facto de se situar no centro da cidade e interromper a sequência de construções de cimento e tijolo, torna-o um lugar especial.
    É uma espécie de refúgio ou oásis citadino que nos convida a fazer uma pausa,
    ler um bom livro ou partilhar uma refeição com os amigos.No fundo do jardim, uma parede alta em pedra recortada por ameias, faz lembrar um castelo.
    Essa fachada faz parte do paço Medieval de Braga e foi erguida no final da Idade Média, por iniciativa dos arcebispos D. Gonçalo de Pereira e D. Fernando da Guerra.
    Actualmente funciona como Arquivo Distrital de Braga e faz parte de um complexo maior chamado Paço Episcopal de Braga.</p>
    <p>Outros tesouros se escondem nesta cidade e que não pode perder, é o caso da Basilica dos Congregados
    da Arcada da Lapa, a Torre de managem do castelo de Braga, o Museu dos Biscainhos o Arco da Porta Nova.</p>
  </div>
</section>



