<section class="mb-4">
  <h2 class="h1-responsive font-weight-bold text-center mb-4">O que visitar</h2>
  <div class="container text-justify w-responsive mx-auto">
  <p>
    Braga é conhecida como a "Roma portuguesa", devido às muitas e bonitas igrejas que aí se encontram.
  </p>
  <p>É em Braga que se encontra a catedral mais antiga do país, a Sé.
   A sua construção data do ano de 1070 e a presença de diversos estilos é o que lhe
     confere uma arquitetura tão rica, ainda que a predominância seja românica.
  </p>
  <p>
    Outros tesouros se escondem nesta cidade e que não pode perder, é o caso da Basilica dos Congregados, da Arcada da Lapa,
    a Torre de managem do castelo de Braga, o Jardim de Santa Barbara, o Museu dos Biscainhos e o Arco da Porta Nova.
  </p>
</div>
</section>

