<section class="mb-4">
  <h2 class="h1-responsive font-weight-bold text-center my-4">Perguntas Frequentes</h2>
       <div id="accordion" class="container text-justify w-responsive mx-auto">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Temos crianças, podemos ter camas extra / berços no quarto?
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            Encontrará informação relativa a crianças e camas extra/berços nos “Serviços”; por favor queira observar o seguinte: Custos adicionais para crianças, caso sejam aplicáveis, não estão incluídos no preço da reserva. Durante o processo de reserva on-line, por favor coloque o seu pedido para camas extra/berços na área de Pedidos Especiais providenciada. Se já reservou o seu quarto, terá apenas de clicar na hiperligação providenciada no seu e-mail de confirmação e para requisitar uma cama extra. Recomendamos que telefone ao hotel antes da sua data de chegada para garantir o seu pedido. Encontrará a informação de contacto do hotel no seu e-mail de confirmação.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Qual é a diferença entre um Quarto Duplo e um Quarto Twin?
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            Um Quarto Duplo tem uma cama de casal e um Quarto Twin tem 2 camas individuais. Se um quarto é chamado de Duplo/Twin, então poderá ser providenciado um dos 2 tipos de camas. Poderá especificar a sua preferência do tipo de cama na área dos “Serviços” aquando do processo de reserva.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              O que significam os termos "não reembolsável" ou "cancelamento gratuito"?
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            Todos os quartos têm uma condição diferente estabelecida (pelo Local Crespos). A condição não reembolsável indica que uma taxa será cobrada caso decida cancelar ou alterar a sua reserva. Esta taxa é mencionada nas condições do quarto e na sua confirmação de reserva. O cancelamento gratuito significa que poderá alterar ou cancelar a sua reserva gratuitamente, desde que dentro do período estabelecido pelo hotel. Essa informação está indicada nas condições do quarto e na sua confirmação (por exemplo: "Cancele num prazo de até x dias ou "Cancele antes de dd/mm/aa hh:mm").
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Posso pedir uma cama extra para o meu quarto? Terá um custo adicional?
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            Encontrará informação relativa a camas extra/berços nos “Serviços”; por favor queira observar o seguinte: Custos adicionais, caso sejam aplicáveis, não estão incluídos no preço da reserva. Durante o processo de reserva on-line, por favor coloque o seu pedido para camas extra/berços na área de Pedidos Especiais providenciada. Se já reservou o seu quarto, terá apenas de clicar na hiperligação providenciada no seu e-mail de confirmação e para requisitar uma cama extra. Recomendamos que telefone ao hotel antes da sua data de chegada para garantir o seu pedido. Encontrará a informação de contacto do hotel no seu e-mail de confirmação.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Os preços apresentados são por pessoa ou por quarto?
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            O preço apresentado é por quarto, para toda a estadia, excepto quando existe indicação em contrário.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              O preço inclui impostos?
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
            Depende do tipo de quarto seleccionado, no entanto é fácil confirmar o que está incluído, basta verificar o texto por baixo do nome do quarto. Os impostos variam de país para país, portanto é sempre bom confirmar. Poderá visualizar uma informação mais pormenorizada sobre o que está incluído no preço ao colocar o seu cursor sobre o texto da coluna chamada “Termos e Condições”.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSeven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              O pequeno-almoço está incluído na tarifa?
            </button>
          </h5>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
          <div class="card-body">
            Depende do tipo de quarto. Poderá confirmar se está incluído ao consultar o texto disponível mesmo por baixo do nome do quarto. Se não estiver incluído, poderá colocar o seu cursor sobre o texto na coluna chamada “Termos e Condições”, para saber se está disponível e que custos adicionais comportam, caso sejam aplicáveis. Esta informação também estará incluída no seu e-mail de confirmação.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingEight">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              O hotel requer um depósito ou pagamento antecipado?
            </button>
          </h5>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
          <div class="card-body">
            Não requer um pré-pagamento ou depósito. Caso o solicitem, encontrará a informação nas “Termos e Condições”.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingNine">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
              Posso pagar antecipadamente a minha estadia?
            </button>
          </h5>
        </div>
        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
          <div class="card-body">
            Após efectuar a sua reserva, por favor contacte o Local Crespos para se certificar e tomar as providências necessárias. Poderá encontrar os dados de contacto do hotel no seu e-mail de confirmação.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTen">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
              Chegarei mais tarde/cedo do que a hora de check-in mencionada. Ainda posso efectuar o check-in?
            </button>
          </h5>
        </div>
        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
          <div class="card-body">
            Poderá solicitar um check-in tardio/antecipado de várias formas: Poderá especificar o seu horário de check-in pretendido enquanto estiver a efectuar a reserva. Poderá alterar a sua reserva on-line para solicitar um check-in fora do horário normal. Poderá contactar o alojamento directamente através dos dados de contacto informados na sua confirmação de reserva. Por favor observe que o alojamento nem sempre poderá providenciar o que for pedido mas fará o possível para que possa ocupar o quarto mais cedo caso haja disponibilidade. Caso chegue tarde e durante a noite, é possível que não haja ninguém à sua espera - por exemplo, num apartamento num local remoto. A melhor opção é entrar sempre em contacto directamente com o alojamento para confirmar a possibilidade e para evitar inconvenientes.
          </div>
        </div>
      </div>
    </div>
</section>
