.jumbotron {
    color:white;
    font-family: "Helvetica Neue";
    text-shadow: -1px 1px 0 #000;
    min-height: 220px;
    background-image: url('src/assets/lenha.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0%;
    filter: grayscale(90%);
   }

.h1, h1 {
    font-size: 3.5rem;
}

.margem{
  margin-left: 40px
}

/*dropdow*/
.dropdown:hover>.dropdown-menu {
  display: block;
}

/* eliminar seta da dropdown*/
.dropdown-toggle::after {
  display:none;
}

/*cores da dropdown*/
.dropdown-item:hover{
  background-color: lightgrey;
}
.dropdown-item.active{
  background-color: gray;
}
