.jumbotron{
  margin-bottom: 0;
  background-color: gray;
}

.margem{
  margin-left: 40px
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

/* eliminar seta da dropdown*/
.dropdown-toggle::after {
  display:none;
}

.dropdown-item:hover{
  background-color: lightgrey;
}
.dropdown-item.active{
  background-color: gray;
}
