<section class="mb-4">
  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">Contacte-nos!</h2>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto">
    As suas questões e comentários são bem-vindos pela equipa do Local Crespos. Por favor
    preencha o formulário abaixo e deixe-nos a sua mensagem.
  </p>
</section>
<div class="container">
  <form (ngSubmit)="processForm()">

    <!-- nome -->
    <div class="field">
      <input type="text" name="name" class="input" placeholder="Nome" [(ngModel)]="name" required minlength="8" #nameInput="ngModel"/>
      <div class="help is-error" *ngIf="nameInput.invalid && nameInput.dirty">
        Campo obrigatório e deve ter pelo menos oito caracteres.
      </div>
    </div>

    <!-- email -->
    <div class="field">
      <input type="email" name="email" class="input" placeholder="E-mail" [(ngModel)]="email" required email #emailInput="ngModel"/>
      <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
        Tem de colocar um e-mail válido: exemplo@gmail.com
      </div>
    </div>

    <!-- assunto -->
    <div class="field">
      <input type="text" name="subject" class="input" placeholder="Assunto" [(ngModel)]="subject" required minlength="8" #subjectInput="ngModel"/>
      <div class="help is-error" *ngIf="subjectInput.invalid && subjectInput.dirty">
        Campo obrigatório e deve ter pelo menos oito caracteres.
      </div>
    </div>

    <!-- mensagem -->
    <div class="field">
      <textarea class="textarea" name="message" placeholder="Escreva a sua mensagem" [(ngModel)]="message" required #messageInput="ngModel"></textarea>
      <div class="help is-error" *ngIf="messageInput.invalid && messageInput.dirty">
        É necessário escrever uma mensagem!
      </div>
    </div>

    <!-- botão enviar-->
  <div class="form-actions">
      <button type="submit" class="button is-danger is-large submit btn">Enviar</button>
    </div>
  </form>
</div>



<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><i class="fas fa-map-marker-alt"></i></h5>
      <p class="card-text"> Rua da Ribeira, nº 668, Crespos 4710-646 Braga</p>
      <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><i class="fas fa-phone-alt"></i></h5>
      <p class="card-text">(+351) 968700518</p>
      <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><i class="far fa-envelope"></i></h5>
      <p class="card-text">local.crespos@gmail.com</p>
      <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
    </div>
  </div>
</div>
