.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;

  }
  .map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }

  /*--- Área dos Contactos ---*/
  .card-text{
    text-align: center;
  }
  .card-title{
    text-align: center;
  }

  /*--- Área do botão reservar ---*/

  .btn{
    background-color: #f8f9fa;

  }
/* area API meteorologia */
.col-auto_tempo{
    background-color: #888;
    color: white;
    margin-top: 4vh;
    padding-top: 3vh;
    padding-bottom: 2vh;
    padding-left: 4vw;
    padding-right: 4vw;
    border-radius: 25px;
}
