
<!-- HOME -->

<!--Área do Botão Reservar-->

<div class="fixed-bottom">
  <div class="row justify-content-center">
    <div class="col-auto">

      <button type="button" class="btn btn-outline-secondary">Reservar</button>

    </div>
  </div>
</div>

<!--Área do footer (copyrights) em todas as páginas-->



<!--Área do carrocel-->

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-auto">

        <app-carrocel></app-carrocel>

    </div>
  </div>
</div>

<br>

<!-- Área do Mapa-->

<div class="container-fluid">
  <div class="row justify-content-center">

      <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 100%; width: 100%">
        <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=41.613123%2C-8.3548788&key=AIzaSyDxYF4hUKTTAHg87YzJ6aFLuTQM9y3bxCM" allowfullscreen></iframe>
      </div>

  </div>
</div>

<br>

<!--Área da API de meteriologia-->

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-auto_tempo">

        <app-tempo></app-tempo>

    </div>
  </div>
</div>

<br>
<!--Área dos Contactos (tipo bootstrap: Card decks)-->

<div class="container-fluid">
<div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-map-marker-alt"></i></h5>
        <p class="card-text"> Rua da Ribeira, nº 668, Crespos 4710-646 Braga</p>
        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-phone-alt"></i></h5>
        <p class="card-text">(+351) 968700518</p>
        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="far fa-envelope"></i></h5>
        <p class="card-text">local.crespos@gmail.com</p>
        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
      </div>
    </div>
  </div>
</div>

<br>
<br>

<!--Área dos testemunhos-->


