


<!--Área do Botão Reservar-->

<div class="fixed-bottom">
  <div class="row justify-content-center">
    <div class="col-auto">

      <button type="button" class="btn btn-outline-secondary">Reservar</button>

    </div>
  </div>
</div>

<!--Área do footer (copyrights) em todas as páginas-->



<!--Área do carrocel-->

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-auto">

        <app-carrocel></app-carrocel>

    </div>
  </div>
</div>

<br>

<!-- Área do Mapa-->


  <div class="row justify-content-center">

    <app-mapa></app-mapa>

  </div>


<br>
<!--Área dos Contactos (tipo bootstrap: Card decks)-->

<div class="container-fluid">
<div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title justify-content-center"><i class="fas fa-map-marker-alt"></i></h5>
        <p class="card-text"> Rua da Ribeira, nº 668, Crespos 4710-646 Braga</p>
        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-phone-alt"></i></h5>
        <p class="card-text">(+351) 968700518</p>
        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="far fa-envelope"></i></h5>
        <p class="card-text">local.crespos@gmail.com</p>
        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
      </div>
    </div>
  </div>
</div>

<!--Área da API de meteriologia-->



<!--Área dos testemunhos-->


